.animate-card {
  perspective: 1000px;
  width: 100%;
  max-width: 300px;
  max-height: 500px;
  margin: 20px auto 30px auto;

  .card {
    width: 100%;
    aspect-ratio: 3 / 4;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
    border: none;
    background-color: transparent;
  }

  .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    color: white;
    background-color: #BC6C25;
    border-radius: 2rem;
    text-align: center;
    font-weight: bold;
  }

  .front {
    display: flex; 
    flex-direction: column; 
    align-items: center;

    .about-video-info{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
    }

    img{
      height: 25px;
      width: 25px;
    }
  }

  .back {
    text-align: justify;
    padding: 2rem;
    transform: rotateY(180deg);
    font-size: clamp(1rem, 2vw, 1.2rem);
    font-weight: normal;
    hyphens: auto;
  }

  
}
.missao{
    .face{
      background-color: #BC6C25;
    }
  }