.container{
    max-width: 600px;
    margin: auto;
    margin-top: 100px;
}

header{
    background-color: #48625B;
    color: white;
    padding: 10px;
    font-size: 20px;
}


.form{
    display: flex;
    justify-content: center;

    .labels{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-right: 30px;
        margin-top: 10px;
        font-weight: bold;
    }

    input{
        width: 100%;
        border: 1px solid black;
        outline: none;
        margin-top: 10px;
    }    
}

.submit{
    padding: 20px;
    margin-top: 15px;
    background-color: #E9FAE6;
    display: flex;
    justify-content: right;
    padding-right: 80px;

    button{
        padding: 2px 10px;
        display: flex;
        align-items: center;

        img{
            margin-right: 8px;
        }
    }
}
